$btn-primary-color: #2196f3;
$danger-color: #f44336;
$border-color: #e7e7e7;
$white: #fff;
$black: #3c3c3c;
$page-bg: #f7f7f7;
$language-color: #2b6dad;
$bg-bk: #fafafa;

$button-min-width: 80px;
$button-radius: 25px;
